<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error" monitorInterval="5"> <!-- status:error mean ONLY show log4j kernel's error log in console-->
    <Properties>
        <Property name="APP_LOG_ROOT">logs</Property>
    </Properties>


    <Appenders>
        <RollingFile name="stantions" fileName="${APP_LOG_ROOT}/stantions.log" filePattern="${APP_LOG_ROOT}/stantions-%d{yyyy-MM-dd}.log">
            <!-- Except Error -->
            <!-- <ThresholdFilter level="info" onMatch="DENY" onMismatch="ACCEPT"/> -->
            <PatternLayout>
                <pattern>%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %level %logger{36} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>
         
        <RollingFile name="errors" fileName="${APP_LOG_ROOT}/errors.log" filePattern="${APP_LOG_ROOT}/errors-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %level %logger{36} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>

        <RollingFile name="exceptions" fileName="${APP_LOG_ROOT}/exceptions.log" filePattern="${APP_LOG_ROOT}/exceptions-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %level %logger{36} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="errors" level="debug" additivity="false">
            <AppenderRef ref="errors" level="error" />
        </Logger>

        <Logger name="exceptions" level="debug" additivity="false">
            <AppenderRef ref="exceptions" level="fatal" />
        </Logger>

        <Root level="trace" >
            <AppenderRef ref="stantions" level="info" />
        </Root>
    </Loggers>
</Configuration>